<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
        <% @produtos.each do |produto| %>
            <tr>
                <th>
                <%= produto.nome %></th>
                <th> <%= produto.descricao %></th>
                <th> <%= produto.preco %> </th>
                <th><%= produto.quantidade %></th>
            </tr>
            <% end %>
        </tbody>
    </table>
</body>
</html>